name: Check

on:
  - push

jobs:
  check:
    name: Check
    runs-on: ubuntu-24.04

    env:
      SSH_AUTH_SOCK: /tmp/ssh_agent.sock

    steps:
      - uses: actions/checkout@v6
        with:
          ssh-key: ${{secrets.SSH_KEY}}
          submodules: 'true'
      - name: Add SSH key to agent
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< "$SSH_KEY"

      - uses: cachix/install-nix-action@v31
      - uses: DeterminateSystems/flake-checker-action@v12

      - name: Check formatting
        run: nix fmt -- --ci
      - name: Check flake outputs
        env:
          FLAKE: 'git+ssh://git@github.com/${{ github.repository }}.git?ref=${{ github.ref }}&rev=${{ github.sha }}&submodules=1'
        run: nix flake check "$FLAKE" --no-build --all-systems --no-allow-import-from-derivation
